[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
dotenv = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
pyjwt = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.4"
